#	VS Code
**/.vscode/c_cpp_properties.json
**/*.code-workspace


#	Build Files
Code/Makefile/clean.cmd
Code/Makefile/makefile.mk
**/Obj/**


#	Excel Files
**/*.xlsx


#	Git Attributes
**/.gitattributes